#darkMode {
  background: transparent url("../../assets/images/moon.png") no-repeat center;
  background-size: 20px 20px;
  width: 35px;
  height: 35px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: white;
}