main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #3f4046;
  --light: #e0d6d6;
  --dark: rgb(155, 156, 163);
  --darker: #262729;
  --alpha: rgba(255, 255, 255, 0.527);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  color: rgb(218, 214, 214);
}

 * html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family:  Arial, sans-serif;
}

h2 {
  font-family: Arial, sans-serif ;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  letter-spacing: 6px;
  text-align: center;
  font-size: 2.3rem;
}

h3,
h4
{
  font-family: Arial, sans-serif ;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  letter-spacing: 6px;
  text-align: center;
}

h1 {
  letter-spacing: 5.5px;
  font-weight: 900;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 2rem;
}

a {
  color: var(--light);
  text-decoration: none;
  opacity: .5;
}

a:hover {
  opacity: 1;
  transition: all .2s ease-in-out;
}


 img {
  max-width: 100%;
  background: linear-gradient(to left, rgba(214, 193, 193, 0.932) 0, rgb(20, 19, 19) 240px, rgb(10, 7, 7) 290px), no-repeat;

}

.col-md-4 { 
  padding: 20px 35px; 
  border-radius: 50%;
  }


span[role='img'] {
  cursor: default;
}

span {
  font-size: 20px;
  font-weight: bold;
  
  color: rgb(224, 9, 63);
  }


form {
  width: 40%;
}

input {
  margin: 10px 0;
  font-size: 1rem;
  padding: 0.25rem;
  width: 600px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
  margin-right: 10px;
}

li {
  list-style: none;
  letter-spacing: 6px;

}

nav {
  height: 100px;
  position: relative;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.7rem;
  margin: 30px 20px;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
  text-shadow: 3px 3px 10px rgba(0,0,0, 0.5);
  margin: 0 30px;
}

ul.skills {
  line-height: 2rem;
}

ul.skills li {
  list-style-type: circle;
}

footer {
  font-size: 48px;
  justify-content: center;
}

footer a {
  color: var(--light);
  opacity: .5;
  margin: 10px 20px;
  transition: all .3s ease-in-out;
}

footer a:hover {
  opacity: 1;
}

textarea {
  width: 600px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}


.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}
.project {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 30px;
}

.project-bg {
  position: relative; 
  width: 100%;
  height: 100%;
  border-radius: 15px;
} 

.project-text {
  font-family: 'Trebuchet MS', sans-serif;
  color: var(--light);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 40px;
  z-index: 900;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.project-text:hover {
  background-color: var(--darker);
  opacity: 1;
  border: 10px solid var(--darker);
  border-radius: 15px;

}

.project-text h3 {
  font-size: 2.5rem;
}

.project-text a {
  text-decoration: none;
  color: var(--light);
  transition: all .3s ease-in-out;
}

.project-text a:hover {
  border-radius: 25px;
  color: var(--darker);
}

.navActive {
  color: var(--primary);
  cursor: default;
  text-shadow: 3px 3px 15px rgba(255,255,255, .5);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}