main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #3f4046;
  --light: #e0d6d6;
  --dark: #9b9ca3;
  --darker: #262729;
  --alpha: rgba(255,255,255,.7);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

 * html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: 'Trebuchet MS', sans-serif;
}

h2,
h3,
h4
{
  font-family: 'Tahoma', sans-serif ;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 2rem;
}

a {
  color: var(--light);
  text-decoration: none;
  opacity: .5;
}

a:hover {
  opacity: 1;
  transition: all .2s ease-in-out;
}

header {
  background: var(--dark);
}

header a {
  color: var(--light);
}

img {
  max-width: 100%;
}

span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  margin: 10px 0;
  font-size: 1rem;
  padding: 0.25rem;
  width: 600px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
  margin-right: 10px;
}

li {
  list-style: none;
}

nav {
  height: 200px;
  position: relative;
  font-family: 'Lobster';
  font-style: 'italic';
  font-size: 2rem;
  margin: 30px 20px;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
  text-shadow: 2px 2px 10px rgba(0,0,0, 0.5);
  margin: 0 50px;
}

ul.skills {
  line-height: 2rem;
}

ul.skills li {
  list-style-type: circle;
}

footer {
  font-size: 48px;
  justify-content: center;
}

footer a {
  color: var(--light);
  opacity: .5;
  margin: 10px 20px;
  transition: all .3s ease-in-out;
}

footer a:hover {
  opacity: 1;
}

textarea {
  width: 600px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
} 

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.project {
  border-radius: 25px;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 30px;
}

 .project-bg {
  
  position: relative;
  width: 100%;
  height: 100%;
} 

.project-text {

    color: var(--primary);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 50px;
    z-index: 900;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.project-text:hover {

  background-color: var(--alpha);
  opacity: 1;
  border: 10px solid var(--primary);
}

.project-text h3 {
 
  font-size: 2.5rem;
}

.project-text a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  transition: all .3s ease-in-out;
}

.project-text a:hover {
  border-radius: 25px;
  color: var(--darker);
}

.navActive {
  color: var(--primary);
  cursor: default;
  text-shadow: 3px 3px 15px rgba(255,255,255, .5);
}
